.account-changer {
    width: 560px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front,
.back {
    text-align: center;
    font-size: 30px;
    height: 200px;
    width: 350px;
    border-radius: 9px;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front {
    transform: perspective(300px) rotateY(0deg);
}
.account-creation-container {
    height: 500px;
    width: 600px;
    margin: 20px;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 1em;
    flex-direction: column;
    padding: 10px;
}
.creation-container-text { 
    font-size: 20pt;
    align-self: center;
    justify-items: flex-start;
    margin: 5px;
}
