@using SpaceWeb.Service
@using AutoMapper

@inject UserService userService
@inject IMapper mapper

<div class="bank-account-list">
    @{
        var user = userService.GetCurrent();
        var accounts = new List<BankAccountViewModel>();
        foreach (var accountBD in user.BankAccounts)
        {
            accounts.Add(mapper.Map<BankAccountViewModel>(accountBD));
        }
    }
    @foreach (var BankAccount in accounts)
    {
        <a href="/Account/Index?id=@BankAccount.Id">
            <div class="bank-account">
                <div class="type">@BankAccount.Type</div>
                <div>
                    <span class="amount">@BankAccount.Amount </span>
                    <span class="currency">@BankAccount.Currency</span>
                </div>
                <div class="account-number">@BankAccount.AccountNumber</div>
            </div>
        </a>
    }
    <div class="add-new background">
        <div class="add-new content">Добавить счет</div>
    </div>
</div>