<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reset.css?v=4" />
    <link rel="stylesheet" href="~/css/icon.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="popup">
        <div class="cover"></div>
        <div class="popup-content">Ты согласен?</div>
    </div>
    <div class="header">
        <div></div>
        <span class="header-text">Ракеты для каждого!</span>
        <form action="/User/Login" method="post">
            <div class="login-block">
                <div>
                    <input name="@nameof(RegistrationViewModel.Login)" class="user-login" type="text" placeholder="login" />
                </div>
                <div>
                    <input name="@nameof(RegistrationViewModel.Password)" type="text" placeholder="password" />
                    <input class="login" type="submit" value="Войти" />
                </div>
            </div>
        </form>
    </div>
    <div class="center-block">
        <div class="left-menu">
            <div class="left-menu-absolute">
                <a href="/Bank/Bank">
                    <div class="link icon home">
                        <span class="text">Bank</span>
                    </div>
                </a>
                <a href="/Rocket/MainPage">
                    <div class="link icon rocket-icon">
                        <span class="text">Rocket</span>
                    </div>
                </a>
                <a href="/User/Profile">
                    <div class="link icon account">
                        <span class="text">Profile</span>
                    </div>
                </a>
                <a href="/User/Login">
                    <div class="link icon help">
                        <span class="text">Help</span>
                    </div>
                </a>
                <a href="/User/Registration">
                    <div class="link icon help">
                        <span class="text">Регистрация</span>
                    </div>
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="/User/Logout">
                        <div class="link icon help">
                            <span class="text">Logout</span>
                        </div>
                    </a>
                }
                else
                {
                    <a href="/User/Login">
                        <div class="link icon help">
                            <span class="text">Логин</span>
                        </div>
                    </a>
                }

                <div>
                    <div>
                        <label>
                            <input type="radio"
                                   name="visible-remove"
                                   value="1"
                                   checked="checked" />
                            Вкл
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="visible-remove" value="0" />
                            Выкл
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <div class="hide">
        <div class="rocket template">
            <div class="name">
                <div class="view">
                    <span class="current-name">***</span>
                    <span class="icon close"></span>
                </div>
                <div class="edit hide">
                    <input class="new-name" />
                    <span class="icon ok">OK</span>
                </div>
            </div>
            <div class="image-container">
                <img src="***" />
            </div>
        </div>
    </div>
</body>
</html>