<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/Rocket/iconsMenu.css">
    <link rel="stylesheet" href="~/css/Rocket/endBlockStyle.css">
    <link rel="stylesheet" href="~/css/Rocket/topStyle.css?v=2">
    <link rel="stylesheet" href="~/css/Rocket/rocketlayout.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Rocket/Menu.js"></script>

    @RenderSection("Style", required: false)
    @RenderSection("Script", required: false)

</head>

<body>
<div class="top">
    <div class="log hide"></div>
    <div class="login-block hide">
        <div class="login-direction">
            <form action="/Rocket/Login" method="post" class="loginformstyle">
                <div>
                    <input name="UserName" class="inputFields" type="text" placeholder="login" />
                </div>
                <div>
                    <input name="Password" class="inputFields" type="text" placeholder="password" />
                </div>
                <div>
                    <input class="pglogbut" type="submit" value="Log in" />
                </div>
            </form>
            <div class="or">or</div>
            <div>
                <a href="../Rocket/Registration">
                    <input class="pglogbut" type="button" value="Registration" />
                </a>
            </div>
        </div>
    </div>
    <div class="info">
        <div>
            <a href="javascript:history.go(-1)" class="comfort-link">
                <div class="link icon back">Back</div>
            </a>
            <a href="../Rocket/MainPage">
                <div class="link icon home">Home</div>
            </a>
        </div>
        <div class="link icon log-in">Log in</div>
    </div>
</div>
<div class="content">
        @RenderBody()
</div>
<div class="end-block">
    <div class="telephone">
        <span>Contscts: +375-44-XX-XX-XXX, +375-29-XX-XX-XXX</span>
    </div>
    <div class="email">Email: info@comfort.com</div>
</div>
</body>

</html>