<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reset.css?v=4" />
    <link rel="stylesheet" href="~/css/icon.css" />
    <link rel="stylesheet" href="~/css/Rocket/iconsMenu.css">
    <link rel="stylesheet" href="~/css/site.css?v=1" />
    <link rel="stylesheet" href="~/css/Rocket/topStyle.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/layout.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="nice-popup">
        <div class="log hide"></div>
        <div class="login-block hide">
            <div class="login-direction">
                <div>
                    <input class="user-login" type="text" placeholder="login" />
                </div>
                <div>
                    <input class="password" type="text" placeholder="password" />
                </div>
                <div>
                    <input class="login" type="submit" value="Log in" />
                </div>
                <div class="or">or</div>
                <div>
                    <a href="/Rocket/Registration">
                        <input class="login" type="button" value="Registration" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="top">
        <div class="info">
            <a href="/">
                <div class="home">LOGO</div>
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="">
                    <a href="/User/Profile">
                        Profile
                    </a>
                </div>
            }
            else
            {
                <div class="link icon log-in">Log in</div>
            }
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>