<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/bank/iconBank.css" />
    <link rel="stylesheet" href="~/css/bank/styleBank.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bank/bank.js"></script>
    <title>Rocket</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    @RenderSection("Scripts", required: false)
</head>
    <body>
        <div class="obertka">
            <div class="header">
                <div class="logo">
                    <img class="logo-image" src="../image/bank/logo.png" alt="logo">
                    <div class="logoName">
                    <div clacc="logoNameRocket">ROCKET</div>
                    <div class="logoNameBank">BANK</div>
                    </div>
                </div>
                <div class="empty-header"></div>
                <div class="buttonList">
                    <a href="/Bank/Bank">
                        <div class="home-button">Домой</div>
                    </a>
                    <div class="about-button">О нас</div>
                    <a href="/Bank/Contacts">
                        <div class="contacts-button">Контакты</div>
                    </a>
                    <a href="/Bank/Account">
                        <div class="login-button">
                            <span>Account</span>
                            <img class="login-icon" src="../image/icon/account_bank.svg" />
                        </div>
                        </a>
                        <div class="login-button">
                            <span>Вход</span>
                            <img class="login-icon" src="../image/icon/login-24px.svg" />
                        </div>
                </div>
            </div>

            <div class="layout-content">
                @RenderBody()
            </div>

            <div class="footer">
                <div class="rights">©All rights reserved</div>
                <div></div>
                <div class="contacts">
                    <div class="social-media">
                        <img class="footer-icon facebook" src="../image/icon/facebook.png">
                        <img class="footer-icon google-plus" src="../image/icon/google-plus.png">
                        <img class="footer-icon instagram" src="../image/icon/instagram.png">
                        <img class="footer-icon twitter" src="../image/icon/twitter.png">
                        <img class="footer-icon youtube" src="../image/icon/youtube.png">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

