@using SpaceWeb.Service
@using SpaceWeb.Models.Human

@inject UserService userService
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/human/human.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/human/personnel.js"></script>
    <script src="~/lib/jquery-flip/jquery.flip.min.js"></script>
    <script src="~/js/human/department.js" asp-append-version="true"></script>

</head>

@RenderSection("Scripts", required: false)

<body class="human-body">
    
    <div class="human-header">
        <img class="human-logo" src="/image/human/human-logo.png" alt="logo">
        <div>
            <a href="/">SpaceWeb</a>
        </div>
        <div>
            <a href="/Human/AllDepartments">Departments</a>
        </div>
        <div>
            <a href="/Human/ClientPage">Page</a>
        </div>
        <div>
            <a href="/Human/Personnel">Personnel</a>
        </div>
        <div>
            <a href="/Human/RequestEmploye">Request</a>
        </div>
        <div class="human-user-info">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/User/Profile">
                    @{
                        var user = userService.GetCurrent();
                        var userBlockViewModel = new UserBlockViewModel()
                        {
                            Name = user.Name,
                            AvatarUrl = userService.GetAvatarUrl()
                        };
                    }
                    <partial name="_userBlock" model="userBlockViewModel">
                </a>
                <a href="/User/Logout">Exit</a>
            }
            else
            {
                <a href="/">Login</a>
            }
        </div>
    </div>

    <div class="human-content">
        @RenderBody()        
    </div>

    <div class="human-footer">
        ©Team#3 HumanResources, 2021
    </div>

</body>
</html>