<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/Factory.css">
    <link rel="stylesheet" href="~/css/iconFactory.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/mainPage.js"></script>
</head>

    <body>
    @RenderBody()
    </body>

</html>