@model TransactionBankViewModel
@using SpaceWeb.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using SpaceWeb.Service
@using AutoMapper
@{
    var cardOptions = new List<SelectListItem>();

    var cars = Enum.GetValues(typeof(EnumBankCard));

    for (int i = 0; i < cars.Length; i++)
    {
        var option = new SelectListItem();
        option.Value = ((int)cars.GetValue(i)).ToString();
        option.Text = cars.GetValue(i).ToString();
        cardOptions.Add(option);
    }
}
@inject IUserService userService
@inject IMapper mapper
@{
    var user = userService.GetCurrent();
    var allBankCards = new List<BanksCardViewModel>();
    foreach (var allBankCardsDB in user.BanksCards)
    {
        allBankCards.Add(mapper.Map<BanksCardViewModel>(allBankCardsDB));
    }
}




<form class="creation form" method="POST">
    <div>From КАРТА </div>
    <p>
        @Html.DropDownList(nameof(TransactionBankViewModel.CardFromId), cardOptions)
    </p>
    <div>TO КАРТА </div>
    <p>
        
        @Html.DropDownList(nameof(TransactionBankViewModel.CardToId), cardOptions)
    </p>

    <p class="buttons">

        <input href="~/Bank/AddTransaction" class="create-account button" type="submit" value="Создать">


        <input class="cancel-creation button" type="reset" value="Сброс">
        <button type="submit">Сумма перевода</button>
    </p>
</form>


