@model AddBankCardViewModel
@using SpaceWeb.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using SpaceWeb.Service
@using AutoMapper

@inject IUserService userService
@inject IMapper mapper




<form class="creation form" method="POST">
    <div>From КАРТА </div>
    <p>
        @Html.DropDownList("cardFromId", Model.CardFromDrop)
    </p>
    <div>TO КАРТА </div>
    <p>

        @Html.DropDownList("cardToId", Model.CardToDrop)
    </p>

    <p class="buttons">

        <input href="~/Bank/AddTransaction" class="create-account button" type="submit" value="Создать">


        <input class="cancel-creation button" type="reset" value="Сброс">
        <button type="submit">Сумма перевода</button>
    </p>
</form>


