.footer {
    min-height: 50px;
    background: rgb(0 0 0 / 35%);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    flex: 1;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
}

.developed-by {
    flex: 4;
    text-align: center;
    font-weight: 600;
}

.rights {
    text-align: center;
    flex: 1;
    margin-left: 20px;
    opacity: 0.8;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social-media {
    display: flex;
    justify-content: space-around;
}