.icon {
    display: flex;
    align-items: center;
}

    .icon::before {
        width: 20px;
        height: 20px;
        display: inline-block;
        content: ' ';
        background-size: contain;
    }

.footer-icon {
    padding: 15px;
    max-height: 20px;
    opacity: 0.7;
}

    .footer-icon:hover {
        opacity: 0.8;
    }

.home::before {
    background-image: url('../image/icon/home-24px.svg');
}

.home:hover::before {
    background-image: url('../image/icon/home-24px_hover.svg');
}

.account::before {
    background-image: url('../image/icon/account_balance-24px.svg');
}

.account:hover::before {
    background-image: url('../image/icon/account_balance-24px_hover.svg');
}

.help::before {
    background-image: url('../image/icon/help_center-24px.svg');
}

.help:hover::before {
    background-image: url('../image/icon/help_center-24px_hover.svg');
}

.close::before {
    background-image: url('../image/icon/delete-24px.svg');
}

.close:hover::before {
    background-image: url('../image/icon/delete-24px_hover.svg');
}

.ok::before {
    background-image: url('../image/icon/check-24px.svg');
}

.spinner::before {
    background-image: url('../image/icon/spinner.gif');
}

.rocket-icon::before {
    background-image: url('../image/comfortImage/r1icon.png')
}

.rocket-icon:hover::before {
    background-image: url('../image/comfortImage/r2icon.png')
}
