body {
    background-color: blanchedalmond;
}

.obertka {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-image {
    max-width: 50px;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.block {
    width: 500px;
    height: 315px;
    border: 1px red solid;
    margin: 45px
}

.block-bank {
    width: 500px;
    height: 315px;
    border: 5px black solid;
    box-shadow: 0 0 15px 10px black;
    margin: 45px;
    color: white;
    font-size: 45pt;
    font-weight: bold;
    background: url("../../image/bank/wwwBank.jpeg") center;
    background-size: cover;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 120px
}

.cover-text-block-bank {
    background: #e6ebf1;
    filter: blur(10px);
    width: 390px;
    height: 100px;
    position: absolute;
    border-radius: 30px;
    opacity: 0.8;
}

.text-block-bank {
    position: absolute;
    color: black;
    font-style: italic;
}

a {
    text-decoration: none;
}


.header {
    /* background: hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header input[type=text] {
        width: 68px;
        border-radius: 5px;
        background: antiquewhite;
        border: 0;
        margin-top: 2px;
    }

.left-menu {
    /* background: yellow; */
    width: 60px;
}

.left-menu-absolute {
    position: absolute;
    /* background: green; */
}

    .left-menu-absolute:hover {
        width: 150px;
    }

.left-menu .link {
    color: blue;
    background: aqua;
    margin: 5px;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px green solid;
    cursor: pointer;
}

    .left-menu .link:hover {
        background: orange;
    }

.left-menu-absolute .link .text {
    display: none;
}

.left-menu-absolute:hover .link .text {
    display: flex;
}


.rocket {
    border: 1px green solid;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
    margin: 5px;
    padding: 10px;
    /* background: brown; */
}

.content .rocket .name {
    display: flex;
    justify-content: center;
}

.content .rocket .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(150px - 16px);
}

.content .rocket img {
    max-width: 150px;
    max-height: calc(150px - 16px);
}




.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.cover {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.popup-content {
    background: white;
    width: 200px;
    height: 100px;
    z-index: 10;
}

.rocket img.full-size {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}

.rocket .view {
    display: flex;
}

.rocket .edit {
    display: flex;
}

.new-name {
    width: 100px;
}

.rocket .view.hide,
.rocket .edit.hide {
    display: none;
}

.new-image {
    width: 150px;
}

.template {
    display: none;
}

.input-validation-error {
    border-color: red;
}

#registration-block .icon {
    display: inline;
}

    #registration-block .icon.hide {
        display: none;
    }

.relics {
    display: flex;
    flex-wrap: wrap;
}

.relic {
    border: 1px green solid;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

    .relic .name {
        display: flex;
        justify-content: space-between;
    }

        .relic .name .icon.close {
            cursor: pointer;
        }

    .relic img {
        max-width: 100px;
        max-height: 100px;
    }

.avatar{
    max-width: 200px;
    max-height: 200px;
}

.top .avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
}