body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media print {
    .no-print {
        display: none;
    }
}


.obertka {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-image {
    max-width: 50px;
    margin-right: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    flex: 1;
}

.block {
    width: 500px;
    height: 270px;
    border: 1px red solid;
}

.block-human {
    border: 5px #151563 solid !important;
    box-shadow: 0 0 15px 10px #070746;
    border-radius: 20px 120px;
    background: url(/image/human/button-background.jpg) center;
    background-size: cover;
}

    .block-human:hover {
        border-color: white !important;
    }

.block-bank {
    width: 500px;
    height: 270px;
    border: 5px black solid;
    box-shadow: 0 0 15px 10px black;
    /*margin: 25px;*/
    color: white;
    font-size: 45pt;
    font-weight: bold;
    background: url("../../image/bank/wwwBank.jpeg") center;
    background-size: cover;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 120px
}

.cover-text-block-bank {
    background: #e6ebf1;
    filter: blur(10px);
    width: 390px;
    height: 100px;
    position: absolute;
    border-radius: 30px;
    opacity: 0.8;
}

.text-block-bank {
    position: absolute;
    color: black;
    font-style: italic;
}

a {
    text-decoration: none;
}

.home, .top-right-profile-exit a:visited {
    color: white;
}


.header {
    /* background: hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header input[type=text] {
        width: 68px;
        border-radius: 5px;
        background: antiquewhite;
        border: 0;
        margin-top: 2px;
    }

.left-menu {
    /* background: yellow; */
    width: 60px;
}

.left-menu-absolute {
    position: absolute;
    /* background: green; */
}

    .left-menu-absolute:hover {
        width: 150px;
    }

.left-menu .link {
    color: blue;
    background: aqua;
    margin: 5px;
    border-radius: 5px;
    padding: 0 5px;
    border: 1px green solid;
    cursor: pointer;
}

    .left-menu .link:hover {
        background: orange;
    }

.left-menu-absolute .link .text {
    display: none;
}

.left-menu-absolute:hover .link .text {
    display: flex;
}


.rocket {
    border: 1px green solid;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
    margin: 5px;
    padding: 10px;
    /* background: brown; */
}

.content .rocket .name {
    display: flex;
    justify-content: center;
}

.content .rocket .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(150px - 16px);
}

.content .rocket img {
    max-width: 150px;
    max-height: calc(150px - 16px);
}




.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.cover {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.popup-content {
    background: white;
    width: 200px;
    height: 100px;
    z-index: 10;
}

.rocket img.full-size {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
}

.rocket .view {
    display: flex;
}

.rocket .edit {
    display: flex;
}

.new-name {
    width: 100px;
}

.rocket .view.hide,
.rocket .edit.hide {
    display: none;
}

.new-image {
    width: 150px;
}

.template {
    display: none;
}

.input-validation-error {
    border-color: red;
}

#registration-block .icon {
    display: inline;
}

    #registration-block .icon.hide {
        display: none;
    }

.relics {
    display: flex;
    flex-wrap: wrap;
}

.relic {
    border: 1px green solid;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

    .relic .name {
        display: flex;
        justify-content: space-between;
    }

        .relic .name .icon.close {
            cursor: pointer;
        }

    .relic img {
        max-width: 100px;
        max-height: 100px;
    }

.avatar {
    max-width: 200px;
    max-height: 200px;
}

.top .avatar,
.user-block .avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
}

.socials-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.socials-popup-cover {
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.9;
    position: absolute;
    z-index: 10;
    position: fixed;
}

.socials-block.telegram {
    display: flex;
    z-index: 11;
    background: url(../image/Socials/telegram.PNG) center;
    background-size: cover;
    height: 380px;
    width: 630px;
    border-radius: 100px;
}

.socials-block.youtube {
    display: flex;
    flex-direction: row;
    z-index: 11;
    background: url(../image/Socials/youtube.jpg) no-repeat center;
    height: 380px;
    width: 630px;
    border-radius: 100px;
}

.popup-text-telegram-group {
    color: white;
    display: flex;
    flex: 3;
    align-items: center;
    font-family: system-ui;
    margin-left: 15px;
    text-align: center;
    font-style: italic;
}

.empty-place-telegram {
    flex: 5;
}

.socials-form-telegram {
    display: flex;
    flex: 3;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    color: white;
}

    .socials-form-telegram .socials-passcode-telegram {
        background: rgb(255 255 255 / 60%);
        border-radius: 10px;
        color: black;
        text-align: center;
        margin: 10px 0;
    }

.socials-submit-telegram {
    border-radius: 10px;
    background-color: #2c4f44;
    color: white;
    height: 30px;
}

.left-socials-youtube {
    flex: 10;
}

.right-socials-youtube {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    color: wheat;
}

.popup-text-youtube-group {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-style: italic;
    font-family: system-ui;
}

.socials-form-youtube .socials-passcode-youtube {
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
    color: aquamarine;
}

.socials-submit-youtube {
    height: 25px;
    border-radius: 10px;
    background-color: indianred;
}

.error-socials {
    font-size: 22pt;
    font-family: monospace;
}

.empty-socials-image {
    background: url(../image/error404_2.png) no-repeat center;
    background-size: cover;
    width: 800px;
    height: 454px;
}

.error-socials-image {
    width: 556px;
    height: 435px;
    margin-bottom: 25px;
}

    .error-socials-image img {
        width: 100%;
        height: 100%;
    }

.socials-content {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-block {
    display: flex;
    margin: 5px;
    border: 2px red solid;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.active {
    border: 1px red solid;
}

.user-for-remove {
    display: flex;
    align-items: center;
}

.currency-block input {
    display: none;
}

.team-link {
    height: 270px;
    margin: 15px;
}

.bank-link {
    height: 270px;
    margin: 15px;
    border-radius: 20px 120px;
}

.animate-block {
    display: flex;
}

    .animate-block .buttons {
        position: absolute;
        width: 500px;
        height: 270px;
        display: flex;
    }

    .animate-block .choose {
        flex: 2;
        cursor: pointer;
    }
        .animate-block .choose:hover {
            background: red;
            opacity: 0.3;
        }
    .animate-block .next-btn,
    .animate-block .prev-btn {
        /*background: #ccc;*/
        display: flex;
        align-items: center;
        cursor: pointer;
        flex: 1;
    }

        .animate-block .next-btn:hover,
        .animate-block .prev-btn:hover {
            background: #000;
            opacity: 0.3;
        }

.block .next-image,
.block .prev-image {
    /*background: green;*/
    height: 270px;
    width: 0;
}

.block .current-image {
    /*background: red;*/
    height: 270px;
    width: 500px;
}

.block .next-image,
.block .prev-image,
.block .current-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .block .next-image img,
    .block .prev-image img,
    .block .current-image img {
        max-width: 100%;
        max-height: 100%;
    }
