	.header{
		background: pink;
	}
	.left-menu{
		background: yellow;
	}
	.content{
		background: gray;
		display: flex;
	}
	.center-block{
		display: flex;
		background: green;
	}
	img{
		max-height: 100;
		max-width: 50;
	}
