	.header{
		background-image:url(image/space.jpg);
		height: 127px;
		width: 822px;
		text-align: center;
		font-size: xx-large;
		color:rgba(247, 108, 154, 0.801);
		line-height: 3 ;
	}
	.left-menu{
		background: yellow;
		height: 400;
		width: 100;
		font-size: 26;
		align-content: space-around;
	}
	.category{
		font-size: 18;
	}
	.content{
		background: gray;
		display: flex;
	}
	.center-block{
		display: flex;
		background: green;
	}
	img{
		max-height: 100;
		max-width: 50;
	}
