body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.central-block {
    display: block;
    justify-content: center;
    background: aqua;
    padding-top: 60px;
}

.header {
    display: flex;
    font-size: 25pt;
}

.empty {
    height: 20px;
}