body {
    font-family: "Open sans", Verdana, Arial, serif;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    font-size: 85px;
    letter-spacing: 4px;
    font-family: Oswald, serif;
    color: #857054;
    background: black;
}

.icon-list {
    max-width: 864px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.icon-list .addition-icon {
    margin-bottom: 20px;
}

.icon-list .addition-icon .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style: dashed;
    border-width: medium;
    border-color: #414141;
}

.icon-list .addition-icon .circle:hover {
    border-color: #514518;
    border-style: solid;
    box-shadow: 0 0 20px -9px;
}

.icon-list .addition-icon .circle:hover .material-icons-outlined,
.icon-list .addition-icon .circle:hover .material-icons {
    color: #514518;
}

.icon-list .addition-icon .addition-name {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.addition-icon .material-icons-outlined,
.addition-icon .material-icons {
    font-size: 60px;
}

#public-icon {
    position: absolute;
    font-size: 22px;
}

#panorama-icon {
    position: absolute;
}

.image-container img {
    max-width: 450px;
    max-height: 450px;
}

.addition-block {
    display: flex;
}

.addition-block.black-background {
    background-color: black;
}

.addition-block .text .name {
    color: #857054;
    font-size: 40px;
    font-family: Oswald, serif;
    margin: 35px;
}

.addition-block .text .description {
    color: #afa18e;
    margin-left: 35px;
    margin-right: 35px;
    max-width: 700px;
    line-height: 22px;
}

.addition-block .text .learn-more {
    color: #afa18e;
    display: flex;
    margin-left: 35px;
    margin-top: 35px;
    max-width: 700px;
    line-height: 22px;
}

[class="addition-block"] {
    display: flex;
    flex-direction: row-reverse;
}

.addition-block .text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 450px;
}