body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 25pt;
    padding: 10px;
    
    background: indianred;
}

.footer {
    display: flow;
    justify-items: center;
}

.empty {
    height: 20px;
}