@section Style{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/Rocket/RocketStyle.css"/>
}

@{
    Layout = "_RocketLayout";
}
@section Script
{
    <script src="~/js/Rocket/rocketPage.js"></script>
}

<div class="documentation hide">
    <div class="documentation-cover"></div>
    <div class="documentation-content">
        <div align="center">
            <h1 align="center">Work</h1>
            <p> this is documentation</p>
            <p> subscribe the box if you agree</p>
            <div>
                <input class="work-okey" type="button" value="Okey"/>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div>
        <img src="/image/R1.png" width="80px" height="80px" alt="">
    </div>
    <div class="left-menu-image">
        <h1>
            <a href="#" class="rocket-button">Rocket.com</a>
        </h1>
    </div>

    <div class="login-block">
        <div>
            <input type="text" placeholder="login">
        </div>
        <div>
            <input type="text" placeholder="password">
            <input type="button" value="Enter">
        </div>
    </div>
</div>
<div class="center-block">
    <div class="left-menu">
        <div class="menu">
            <ul>
                <li>
                    <a class="work" href="#">Work</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Reviews</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="RocketShop.cshtml">Shop</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="text-about-rocket-cover-1"> </div>
        <div class="text-about-rocket">
            <p>Raketa is an aircraft moving in space due to the action of jet thrust, which arises only as a result of the rejection of a part of its own mass (working body) of the apparatus and without the use of matter from the environment. Since the flight of a rocket does not necessarily require the presence of an ambient air or gas environment, it is possible not only in the atmosphere, but also in a vacuum. The word rocket denotes a wide range of flying devices from a festive firecracker to a space launch vehicle.</p>
        </div>
        <div class=text-about-rocket-cover-2></div>
    </div>
</div>
<div class="text-about-space-tourism">
    <p align="center"> Space tourism - privately funded flights into space or low-earth orbit for recreational or research purposes.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">You can sign up for the ship by pressing the log in button.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">Be sure to go to the work button and fill out the form.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">If you click on the about button you will find out what our company is doing.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">You can also find out about the reviews about our company in the tab reviews.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">In the contacts tab, you will learn everything about the developers. Their data is publicly available, so you can contact them personally.</p>
</div>
<div class="text-about-space-tourism">
    <p align="center">You can also assemble a complete set for your rocket. You can do it in the shop.</p>
</div>

