body {
    background: url(../../image/FactoryImages/spacefactory.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pre-header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}



.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70px;
    line-height: 110px;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    font-family: Calibri, serif;
    color: black;
}
.search {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .search .search-field {
        opacity: 0.2;
    }

        .search .search-field:hover {
            opacity: 1;
        }

        .search .search-field input {
            border-radius: 4px;
            width: 250px;
        }


.center-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

    .center-block a div {
        text-align: center;
        text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
        font-family: Calibri, serif;
        color: rgb(20, 149, 209);
        font-size: 60px;
        height: 200px;
        width: 350px;
        border-radius: 9px;
    }

.card-mocn:hover {
    transition: all .3s ease;
    background: url("../../../image/bank/card-mocn.jpg");
    opacity: 1;
}

.card-shopp:hover {
    transition: all .3s ease;
    background: url("../../../image/bank/card-shopp.jpg");
    opacity: 1;
}

.card-x:hover {
    transition: all .3s ease;
    background: url("../../../image/bank/card-x.jpg");
    opacity: 1;
}

.center-block .link:hover .text {
    opacity: 0.2;
}

.center-block .link {
    text-decoration: none;
}


