# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RocketIsSpace.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Other\RocketIsSpace\.idea\.idea.RocketIsSpace.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
