@{
    Layout = "_LayoutBank";
}

@section Scripts{
    <script src="~/js/bank/bankAccountCreation.js"></script>
}

@section Style{ 
    <link rel="stylesheet" href="~/css/bank/styleAccount.css?v=0" />
}

<body>
    <div class="client-before-content"></div>

    <div class="account-index-central-block">
      
        <div class="account-creation content-box">
            <div class="creation-container-text">СОЗДАНИЕ КАрты</div>
            @Html.Partial("_bankCardCreationForm")
        </div>
    </div>
</body>