@model RegistrationViewModel
@{
    Layout = "_LayoutBank";
}

<div class="header-for-start-page">
    <div class="logo">
        <a href="/">
            <img class="logo-image" src="../image/bank/logo.png" alt="logo">
        </a>
        <a href="/Bank/Bank">
            <div class="logoName-for-start-page">
                <div clacc="logoNameRocket">ROCKET</div>
                <div class="logoNameBank">BANK</div>
            </div>
        </a>
    </div>
    <div class="empty-header"></div>
    <div class="buttonList">
        <a href="/Bank/Bank">
            <div class="home-button-for-start-page">Домой</div>
        </a>
        <div class="about-button-for-start-page">О нас</div>
        <a href="/Bank/Contacts">
            <div class="contacts-button-for-start-page">Контакты</div>
        </a>
        <div class="login-button-for-start-page">
            <span>Вход</span>
            <img class="login-icon" src="../image/icon/login-white-18dp.svg" />
        </div>
    </div>
</div>

<div class="client-content">
    <div class="client-text-centre">
        <h1 class="intro-titel">Мы открываем новые миры</h1>
        <h2 class="intro-suptitel">Ты готов с нами?</h2>
        <center><button class="button-login" type="button">Я с вами!</button></center>
    </div>
</div>