@using SpaceWeb.Service
@using AutoMapper

@inject UserService userService

@{
    Layout = "_LayoutBank";
    var currencyOptions = new List<SelectListItem>();

    var currencies = Enum.GetValues(typeof(Currency));

    for (int i = 0; i < currencies.Length; i++)
    {
        var option = new SelectListItem();
        option.Value = ((int)currencies.GetValue(i)).ToString();
        option.Text = currencies.GetValue(i).ToString();
        currencyOptions.Add(option);
    }
}

<div class="popup add hide">
    <div class="cover"></div>
    <div class="popup-content">
        <form href="Bank/Account" method="POST" autocomplete="off">
            <p>
                @Html.DropDownList("currency", currencyOptions)
            </p>
            <p><input class="amount-input" name="@nameof(BankAccountViewModel.Amount)" placeholder="Начальная сумма"></p>
            <p>
                <input class="bank-account-submit" type="submit" value="Создать">
                <input class="bank-account-cancel" type="reset" value="Отмена">
            </p>
        </form>
        @*@Html.Partial("_bankAccountCreationForm")*@
    </div>
</div>
<div class="container">
    <div class="menu top">
        <div class="top-menu-text">СЧЕТА</div>
        @Html.Partial("_bankAccountsList")
    </div>
    <div class="menu bottom">
        <div class="transactions button">Переводы</div>
        <div class="bank-account button">Счета</div>

        <a class="personal-info button" href="/Bank/UserProfile">
            <div>Персональные</div>
            <div>данные</div>
        </a>
        <div class="settings button">Настройки</div>
        <div class="insurance button">Страхование</div>
    </div>
</div>