@using SpaceWeb.Service

@inject UserService userService

@{
    Layout = "_LayoutBank";
    var currencyOptions = new List<SelectListItem>();

    var currencies = Enum.GetValues(typeof(Currency));

    for (int i = 0; i < currencies.Length; i++)
    {
        var option = new SelectListItem();
        option.Value = ((int)currencies.GetValue(i)).ToString();
        option.Text = currencies.GetValue(i).ToString();
        currencyOptions.Add(option);
    }
}
<body>
    <div class="client-before-content"></div>

    <div class="container">
        <div class="menu top">
            <div class="top-menu-text">СЧЕТА</div>
            @Html.Partial("_bankAccountsList")
        </div>
        <div class="menu bottom">
            <div class="transactions button">Переводы</div>

            <a class="bank-account button" href="/Account/Creation">
                <div>Счета</div>
            </a>

            <a class="personal-info button" href="/Bank/UserProfile">
                <div>Персональные</div>
                <div>данные</div>
            </a>
            <div class="settings button">Настройки</div>
            <div class="insurance button">Страхование</div>
        </div>
    </div>
</body>