@model ContactsViewModel

@{
    Layout = "_LayoutBank";
}

<div class="limit-width-content">
    <div class="client-before-content">
    </div>

    <div class="contacts">
      Инфа по услугам
    </div>
</div>