@model ContactsViewModel

@{
    Layout = "_LayoutBank";
}
@section Style{
    <link rel="stylesheet" href="~/css/bank/MyMap.css">
}
<script src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/bank/mymap.js"></script>


<div class="client-before-content"></div>

<div class="contacts">
    Инфа по услугам:
    
</div>
<div id="map" class="mymap"></div>
<
