@model int

@section Scripts{
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/bank/exchangesHistory.js"></script>
}

<div class="block">
    <canvas id="exchangesHistoryChart"></canvas>
</div>