@model RocketPreviewViewModel

@{
    Layout = "_LayoutBank";
}
<form action="/Bank/Home" method="post">
    <div class="rocket">

        <div>
            <div class="name">
                <span>Soyuz</span>
                <span class="icon close"></span>
            </div>
            <div class="image-container">
                <img src="~/image/bank/start.jpg" />
            </div>
        </div>
    </div>
</form>