@section Style{
    <link rel="stylesheet" href="~/css/CapsuleStyle.css">
}

<div class="header">
    Sleeping capsules
</div>
<div class="none"></div>
<div class="central-block">
    <div>
        <img src="/image/comfortImage/capsule1.png">
    </div>
    <div class="none"></div>
    <div class="text">
        The purpose of these casuls is to temporarily place the crew and passengers 
        in a state of prolonged sleep during a space mission, in order to significantly 
        reduce the mass of life support systems, living space, and also - to reduce the number 
        of medical problems arising from prolonged space flights.
    </div>
</div>
<div class="none"></div>