<div class="header">
    Comfort structure
</div>
<div class="none"></div>

<div class="text1">
    Comfortable conditions for your rocket and a pleasant journey into space
    <div class="text2">
        Toilets, kitchen, sleep capsules, command center. All this can make your trip much more enjoyable, if you choose the equipment of your choice. So you can do it right here by selecting the appropriately named field.
    </div>
</div>
<div class="none"></div>
<div class="center-block">
    <a href="toilet.html" class="toilet-link">
        <div class="toilet">
            Toilet
        </div>
    </a>

    <a href="kitchen.html" class="kitchen-link">
        <div class="kitchen">
            Kitchen
        </div>
    </a>

    <a href="commandcenter.html" class="command-center-link">
        <div class="command-center">
            Command center
        </div>
    </a>

    <a href="capsule.html" class="capsule-link">
        <div class="capsule">
            Sleeping capsules
        </div>
    </a>
</div>
<div class="none"></div>