@section Style{
    <link rel="stylesheet" href="~/css/Rocket/KitchenStyle.css">
}
@{
    Layout = "_LayoutRocket";
}
<div class="header">
    Kitchen
</div>
<div class="none"></div>
<div class="central-block">
    <div class="left-part">
        <div class="left-title">
            Developing food for space travel is often a complex process. 
            Food must meet a number of criteria to be considered suitable for astronauts.
        </div>
        <div class="none"></div>
        <div>
            First, the food must be physiologically healthy. 
            In particular, it must be nutritious, digestible and tasty.
        </div>
        <div>
            Secondly, food must be designed for consumption in zero gravity. 
            Products should be well packaged, easy to use and require minimal cleaning. 
            Food should not leave crumbs (this is dangerous in zero gravity).
        </div>
        <div>
            Finally, products should be as light as possible, store well, 
            open easily and not leave a lot of debris after use.
        </div>
        <div class="none"></div>
        <div>
            <img src="/image/comfortImage/spacefood.jpg">
        </div>
    </div>
    <div class="right-part">
        <div class="right-title">
            Storage capacity
        </div>
        <div class="none"></div>
        <div>
            <img src="/image/comfortImage/capacity0.jpg">
        </div>
        <div class="none"></div>
        <div>
            A warehouse is needed to provide food storage for your space crew. 
            Think about what time you are going to be in space 
            and choose the capacity for your products during the flight on our website.
        </div>
    </div>
</div>
<div class="none"></div>