@section Style{
    <link rel="stylesheet" href="~/css/Rocket/ToiletStyle.css">
}
@{
    Layout = "_LayoutRocket";
}
<div class="header">
    Toilet
</div>
<div class="none"></div>
<div class="central-block">
    <div class="title">
        How it works?
    </div>
    <div class="none"></div>
    <div>
        Toilets use vacuum instead of water. 
        Solid waste is collected in special mesh plastic bags, 
        which are stored for some time in aluminum 20-liter containers. 
        The filled containers are transferred to the Progress transport cargo ship (TGC) for further disposal. 
        After suction, the liquid waste is collected using a special hose with a nozzle, 
        which can be used by both men and women, and then transferred to the regeneration system, 
        which restores them to the state of drinking water, which is used in the technical circuit of the station.
    </div>
    <div class="none"></div>
    <div>
        On the ISS, air from toilets must be filtered before entering living quarters to remove bacteria and odors.
    </div>
</div>
<div class="none"></div>