.Section {
    margin-top: 100px;
}

.Container {
    width: 100%;
    margin: 100px;
}

input {
    margin: 10px;
}

.Section .Container {
    display: flex;
    flex-direction: column;
    background: url('/image/RocketMechanic/rocket-companies-getty-pic (1).jpg') center no-repeat;
    background-size: cover;
    height: 100%;
}

    .Section .Container .Header {
        font-family: fantasy;
        font-size: 40px;
        line-height: 1.6;
        color: black;
    }

    .Section .Container .ProductCard {
        width: 570px;
        height: 300px;
        margin: 15px;
        border-width: 1px;
        border-radius: 5px;
        border-style: solid;
        border-color: cornflowerblue;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
    }

.Section .Container .ProductCard .ProductImage {
    display: flex;
    flex-direction: column;
}

.Section .Container .ProductCard .ProductImage img {
    max-height: 270px;
    max-width: 300px;
    margin: 15px;
}

.Section .Container .ProductCard .ProductDescription {
    margin: 15px;
    font-size: 15px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Section .Container .ProductCard .ProductDescription .ProductModel {
    font-size: 25px;
    font-weight: bold;
}

    .Section .Container .ProductCard .ProductDescription .Icons {
        display:flex;
        justify-content: center, space-around;
    }