@model MechanicViewModel

@section Style{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/RocketMechanic/MainRocketMechanic.css">
}
@section Script{
    <script src="~/js/RocketMechanic/jquery-3.6.0.min.js"></script>
    <script src="~/js/RocketMechanic/MainRocketMechanic.js"></script>
}

@{
    Layout = "~/Views/Shared/_RocketLayout.cshtml";
}

<div class="FirstScreen">
    <div class="Container">
        <div class="ContainerFirstScreenInner">
            <div class="FirstScreenText">Mechanics</div>
        </div>
    </div>
</div>

<section class="Section">
    <div class="Container">
        <div class="SectionText">

            <div class="SectionArticle">
                <div class="SectionTitle">Rocket mechanics</div>

                <div class="SectionInfoText">

                    <p>
                        A rocket (from Italian: rocchetto, lit. 'bobbin/spool') is a projectile, spacecraft, aircraft
                        or other vehicle that obtains thrust from a rocket engine. Rocket engine exhaust is formed entirely
                        from propellant carried within the rocket. Rocket engines work by action and reaction and push rockets
                        forward simply by expelling their exhaust in the opposite direction at high speed, and can therefore
                        work in the vacuum of space.
                    </p>

                    <p>
                        In fact, rockets work more efficiently in space than in an atmosphere. Multistage rockets are
                        capable of attaining escape velocity from Earth and therefore can achieve unlimited maximum altitude.
                        Compared with airbreathing engines, rockets are lightweight and powerful and capable of generating
                        large accelerations. To control their flight, rockets rely on momentum, airfoils, auxiliary reaction
                        engines, gimballed thrust, momentum wheels, deflection of the exhaust stream, propellant flow, spin,
                        or gravity.
                    </p>

                </div>

            </div>

            <div class="SectionArticle">
                <div class="SectionTitle">Fuel tanks</div>

                <div class="SectionInfoText">

                    <p>
                        A propellant tank is a container which is part of a vehicle,
                        where propellant is stored prior to use. Propellant tanks vary in construction, and may be a fuel
                        tank in the case of many aircraft. In rocket vehicles, propellant tanks are fairly sophisticated
                        since weight is on a premium.
                    </p>

                    <p>
                        Rocket propellant tanks are pressure vessels where liquid fuels are stored prior to use.
                        They have to store the propellant, while minimizing slosh and particularly when the tank is nearly
                        empty, minimizing vortexing.
                    </p>

                    <p>
                        Rocket propellant tanks are often constructed of materials such as aluminium alloys, steels or
                        carbon fibre wound tanks. These kinds of tanks are usually constructed using monocoque construction
                        techniques. Balloon tanks are the most extreme of these, they are held rigid only by internal
                        pressurisation, but are extremely lightweight. Rocket propellant tanks are of many shapes but the
                        optimum shape of a tank is spherical, because for given volume it results in a tank with least weight.
                        Normally, propellant in the tank is stored at a pressure of about 1-4 bar, if the system uses
                        turbopump to deliver high pressure to the combustion chamber. This method reduces the wall thickness
                        and hence the weight of the tank. If the propellant in the tank is stored at very high pressure,
                        then the wall thickness of the tank is increased and hence the weight of the tank.
                    </p>
                </div>
            </div>

            <div class="SectionArticle">
                <div class="SectionTitle">Rocket engines</div>

                <div class="SectionInfoText">

                    <p>
                        A rocket engine uses stored rocket propellants as the reaction mass
                        for forming a high-speed propulsive jet of fluid, usually high-temperature gas. Rocket engines are
                        reaction engines, producing thrust by ejecting mass rearward, in accordance with Newton's third law.
                        Most rocket engines use the combustion of reactive chemicals to supply the necessary energy, but
                        non-combusting forms such as cold gas thrusters and nuclear thermal rockets also exist.
                        Vehicles propelled by rocket engines are commonly called rockets. Rocket vehicles carry their own
                        oxidizer, unlike most combustion engines, so rocket engines can be used in a vacuum to propel
                        spacecraft and ballistic missiles.
                    </p>

                    <p>
                        Compared to other types of jet engines, rocket engines are the lightest and have the highest
                        thrust, but are the least propellant-efficient (they have the lowest specific impulse). The
                        ideal exhaust is hydrogen, the lightest of all elements, but chemical rockets produce a mix of
                        heavier species, reducing the exhaust velocity.
                    </p>
                </div>
            </div>

            <div class="SectionArticle">
                <div class="SectionTitle">Rocket stages</div>

                <div class="SectionInfoText">

                    <p>
                        A multistage rocket, or step rocket, is a launch vehicle that uses two or more rocket stages,
                        each of which contains its own engines and propellant. A tandem or serial stage is mounted on top
                        of another stage; a parallel stage is attached alongside another stage. The result is effectively
                        two or more rockets stacked on top of or attached next to each other. Two-stage rockets are quite
                        common, but rockets with as many as five separate stages have been successfully launched.
                    </p>

                    <p>
                        By jettisoning stages when they run out of propellant, the mass of the remaining rocket is
                        decreased. Each successive stage can also be optimized for its specific operating conditions, such
                        as decreased atmospheric pressure at higher altitudes. This staging allows the thrust of the
                        remaining stages to more easily accelerate the rocket to its final speed and height.
                    </p>

                </div>
            </div>

        </div>

        <div class="SectionImg"> <img src="~/image/RocketMechanic/RocketModel.png"></div>

    </div>

</section>

<section class="Section">
    <div class="EngineContainer">
        <div class="Container">
            <div class="EnginesSection">
                <div class="EngineSectionTitle">
                    <h1>Rocket Engines</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                </div>

                <div class="EngineSectionText">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
            <div class="EngineContainerImage"><img src="~/image/RocketMechanic/Rocket Engine.jpg"></div>
        </div>
    </div>
</section>

<section class="Section">
    <div class="FuelTankContainer">
        <div class="Container">
            <div class="FuelTankContainerImage"><img src="~/image/RocketMechanic/FuelTank1.jpg"></div>
            <div class="FuelTankSection">
                <div class="FuelTankSectionTitle">
                    <h1>Rocket Fuel Tanks</h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                </div>

                <div class="FuelTankSectionText">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Section">
    <div class="Container">
        <div>
            <div class="SectionStoreTitle">
                <div class="SectionTitleText"><h1>ROCKET STAGES</h1></div>

                <div class=SectionDescriptionText>
                    <h2>
                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.”,
                    </h2>
                </div>
            </div>

            <div class="StoreContainer">
                <div class="ProductCard">
                    <div class="ProductImage">
                        <div><img src="~/image/RocketMechanic/RocketStage.jpg"></div>
                    </div>
                    <div class="ProductDescription">
                        <div class="ProductModel">Dragon-1</div>
                        <div>
                            <div class="ProductWeight"> Weight: 10000 kg;</div>
                            <div class="ProductEngines"> Engines: DragonFly-1;</div>
                            <div class="ProductFuelTanks"> Fuel tank: DragonEat-1.</div>
                        </div>
                    </div>
                </div>
                <div class="ProductCard">
                    <div class="ProductImage">
                        <div><img src="~/image/RocketMechanic/RocketStage0.jpg"></div>
                    </div>
                    <div class="ProductDescription">
                        <div class="ProductModel">Dragon-1</div>
                        <div>
                            <div class="ProductWeight"> Weight: 10000 kg;</div>
                            <div class="ProductEngines"> Engines: DragonFly-1;</div>
                            <div class="ProductFuelTanks"> Fuel tank: DragonEat-1.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="CoverImage">
    <form class="Feedback">

        <div class="FormInner">
            <h3>Feedback</h3>
                    <input type="Text" placeholder="Name">
                    <input type="Number" placeholder="+375(xx)xxx-xx-xx">
                    <input type="Email" placeholder="Email">
                    <textarea name="message" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send">
        </div>
    </form>
</div>
