.center-block {
  display: flex;
  background: #1100aa;
}

.content {
  background: gray;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content:center;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.header {
  background: hotpink;
}

.left-menu {
  background: yellow;
  width: 98px;
}

.left-menu .link{
  color: blue;
  background: aqua;
  margin: 5px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px green solid;
  cursor: pointer;
}

.left-menu .link:hover{
  background: orange;
}

.left-menu-absolute{
  position: absolute;
  background: green;
}

.left-menu-absolute:hover{
  width: 150px;
}

.rocket{
  border: 1px green solid;

  margin-bottom: 0px;
  margin: 5px;
  
  padding: 10px;
  background: brown;


}


.cover{
  background: black;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
}

.popup{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-content{
  background: white;
  width: 200px;
  height: 100px;
  z-index: 10;
}
.text{
    display: none;
}
.left-menu-absolute:hover .text {
    display: flex;
}