@using System.Collections.Generic;
@using SpaceWeb.Models.RocketModels;
@model List<OrderViewModel>

@{
    Layout = "_LayoutRocket";
}
@section Style
{
    <link rel="stylesheet" href="~/css/Rocket/basket.css?v=2">
}

<div class="bg">
    <div>Basket</div>
    <div>Your order:</div>
    <div>
        @foreach (var ord in Model)
        {
            @ord.Name
            @foreach (var rock in ord.Rockets)
            {
                @rock.Name @rock.Cost
            }
        }
    </div>
</div>