@model SpaceWeb.Models.RocketModels.OrderViewModel

@{
    Layout = "_LayoutRocket";
}
@section Style
{
    <link rel="stylesheet" href="~/css/Rocket/basket.css?v=2">
}

<div class="bg">
    <div>Basket</div>
    <div>Your order:</div>
    <div>
        
    </div>
</div>