@model SpaceWeb.Models.RocketModels.OrderViewModel

@{
    Layout = "_LayoutRocket";
}
@section Style
{
    <link rel="stylesheet" href="~/css/Rocket/basket.css">
}

<div class="bg">
    <div>

    </div>
</div>