@inject UserService UserService

@section Style{
    <link rel="stylesheet" href="~/css/Rocket/RocketShopStyle.css">
}

@{
    Layout = "_LayoutRocket";
}

@using SpaceWeb.Service
@model SpaceWeb.Models.RocketModels.CollectionRocketShopViewModel

<div class="vraper">
    <div class="header">
        <div class="shop">
            <p class="text-header">Shop Rocket</p>
        </div>
    </div>
    <div class="shop-content">
        <div class="shelf">
            <div class="shop-header">
                <p class="text-header">Rockets</p>
            </div>
            <div class="items-shop">
                @foreach (var rocket in Model.AddRockets)
                {
                    <div class="rocket">
                        <div class="view">
                            <div class="current-name">@rocket.Name</div>
                            <img src="/image/RocketImages/good-rocket.png">
                        </div>
                        <div class="icon add">
                            <div>
                                @rocket.Cost $
                            </div>
                            <input type="checkbox" name="rocket">
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="basket">
            @* @Html.Partial(); *@
        </div>
    </div>
</div>