@section Style{
    <link rel="stylesheet" href="~/css/Rocket/Factory.css">
    <link rel="stylesheet" href="~/css/Rocket/iconFactory.css">
}
@{
    Layout = "_RocketLayout";
}
@section Script{
    <script src="~/js/Rocket/mainPage.js"></script>
}

<div class="pre-header">
    <span class="settings">
        <div class="icon-Factory settings-icon">
            <span class="settings-text">Settings</span>
        </div>
        <div class="settings-menu hide">
            <span class="settings-picture-block">
                <input type="radio" name="back-img" checked="checked">
                <img src="/image/FactoryImages/spacefactory.jpg" alt="">
            </span>
            <span class="settings-picture-block">
                <input type="radio" name="back-img">
                <img src="/image/FactoryImages/spacefactory1.jpg" alt="">
            </span>
            <span class="settings-picture-block">
                <input type="radio" name="back-img">
                <img src="/image/FactoryImages/spacefactory2.png" alt="">
            </span>
        </div>
    </span>
    @* <span class="authorization-field"> *@
    @*     <div class="log-field"> *@
    @*         <input class="login-input" type="text" placeholder="Login"> *@
    @*         <input class="password-input" type="text" placeholder="Password"> *@
    @*     </div> *@
    @*     <div class="log-in-button"> *@
    @*         <input type="button" value="Log in"> *@
    @*     </div> *@
    @* </span> *@
</div>
<div class="header">Factory preview</div>
<div class="search">
    <div class="search-field icon-Factory search-icon">
        <input type="search" placeholder="Search">
    </div>
</div>
<div class="center-block">
    <a href="#" class="link">
        <div class="rocket">
            <span class="text">Rocket Factory</span>
        </div>
    </a>
    <a href="~/Rocket/ComfortPage" class="link">
        <div class="comf">
            <div class="text">Comfort Factory</div>
        </div>
    </a>
    <a href="#" class="link">
        <div class="add">
            <div class="text">Addition Factory</div>
        </div>
    </a>
    <a href="#" class="link">
        <div class="stage">
            <div class="text">Stage Factory</div>
        </div>
    </a>
</div>