@using SpaceWeb.Models.Bank 
@using SpaceWeb.EfStuff.Model
@model InsuranceViewModel

@{
    Layout = "_LayoutBank";

    var insuranceTypeOptions = new List<SelectListItem>();
    var insuranceTypes = Enum.GetValues(typeof(InsuranceNameType));

    for (int i = 0; i < insuranceTypes.Length; i++)
    {
        var insuranceTypeOption = new SelectListItem();
        insuranceTypeOption.Value = ((int)insuranceTypes.GetValue(i)).ToString();
        insuranceTypeOption.Text = insuranceTypes.GetValue(i).ToString();
        insuranceTypeOptions.Add(insuranceTypeOption);
    }

    var insurancePeriodOptions = new List<SelectListItem>();
    var insurancePeriods = Enum.GetValues(typeof(InsurancePeriod));

    for (int i = 0; i < insurancePeriods.Length; i++)
    {
        var insurancePeriodOption = new SelectListItem();
        insurancePeriodOption.Value = ((int)insurancePeriods.GetValue(i)).ToString();
        insurancePeriodOption.Text = insurancePeriods.GetValue(i).ToString();
        insurancePeriodOptions.Add(insurancePeriodOption);
    }
}

<div class="add-insurance-container">
    <div class="client-before-content"></div>

    <form action="/Insurance/AddInsurance" class="form-add-insurance" method="POST">
        <div>
            Type: @Html.DropDownList("insuranceNameType", insuranceTypeOptions)
        </div>
        <div>
            Period: @Html.DropDownList("insurancePeriod", insurancePeriodOptions)
        </div>
        <div>
            <input type="submit" value="Добавить" class="btn-add-insurance">
        </div>
    </form>
</div>