@using SpaceWeb.Models.Bank
@model List<InsuranceViewModel>

@{
    Layout = "_LayoutBank";
}

@foreach (var insurance in Model)
{
    <div>
        <div>
            Тип страхового полиса: @insurance.InsuranceNameType
        </div>
        <div>

        </div>
    </div>
}

<div class="client-before-content"></div>
<div>
    Что-то
</div>
