@using SpaceWeb.Models.Bank
@model List<InsurancePrintViewModel>

@{
    Layout = "_LayoutBank";
}

@foreach (var insurance in Model)
{
    <div>
        <div>
            Тип страхового полиса: @insurance.InsuranceType
        </div>
        <div>
            Дата оформления: @insurance.DateCreationing
        </div>
    </div>
}

<div class="client-before-content"></div>
<div>
    Что-то
</div>
