.bg {
    background: #f3dfff;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.block {
    width: 50%;
    padding: 20px;
}

.title {
    font-size: 100px;
}

.yorder {
    font-size: 40px;
}

.can-pay{
    background:green;
}
.cant-pay{
    background:red;

}
