.registration {
    padding-top: 75px;
    background: url(../../image/comfortImage/sp5.jpg) center/cover no-repeat;
    min-height: calc(100vh - 100px);  
}

.none {
    height: 100px;
}

.registr {
    margin-left: 150px;
    font-family: "Century Gothic";
    font-size: 100px;
    color: white;
}

.reg-field {
    display: flex;
    height: 330px;
    font-size: 23px;
    font-weight: bold;
}

@font-face {
    font-family: Hairline;
    src: url("../../image/comfortImage/font/19554.ttf");
}

.first-text {
    color: #599bb3;
    font-family: Hairline;
    margin: 0px 100px;
}

.first-field{
    color: white;
}

.sub {
    box-shadow: inset 0px 1px 0px 0px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    outline: none;
    width: 80px;
    margin: 0px 100px;
}

.sub:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
    outline: none;
}

.sub:active {
    position: relative;
    top: 1px;
}

.inputFields1 {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(19, 211, 255);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
    display: flex;
}