body{
    margin: 0;
    padding: 0;
    background: url(../../image/RocketImages/space_shop2.jpg) no-repeat center/ cover;
    background-attachment: fixed; 
}

.vraper{
    width: 100%;
}
.Fuel-tank{
    display: flex   ;
}
.Restroom{
    display: flex;
}
.Kitchen{
    display: flex;
}
.Command-center{
    display: flex;
}
.Engine{
    display: flex;
}
.shop{
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
    color: rgb(224, 219, 219);
    background: transparent;
    box-shadow: 0 5px 40px 10px #0d2d46;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.text-header{
    text-align: center;
    font-size: 80pt;
}
.center-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}

.center-block a div {
    text-align: center;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    font-family: Calibri; color: rgb(252, 252, 252);
    font-size: 60px;
    height: 200px;
    width: 350px;
    padding: 20px;
    margin: 10px;
    color: rgb(224, 219, 219);
    transition: .7s;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.center-block a:hover
{
    position:relative;
    border-radius: 70px;
    transition: 0.5s;
    box-shadow: 0 5px 40px 10px #0d2d46;
}

.description{
    text-align: center;
    font-size: 20px;
}

.block{
    display:none;
    text-align: center;
}

.rocket-text:hover .block{
    display: block;
}

.rocket-text:hover .text-rocket{
    display: none;
}

.fuel-text:hover .block{
    display: block;
}
.fuel-text:hover .text-fuel{
    display: none;
}

.restroom-text:hover .block{
    display: block;
}
.restroom-text:hover .text-restroom{
    display: none;
}

.kitchen-text:hover .block{
    display: block;
}
.kitchen-text:hover .text-kitchen{
    display: none;
}

.command-text:hover .block{
    display: block;
}
.command-text:hover .text-command{
    display: none;
}

.engine-text:hover .block{
    display: block;
}
.engine-text:hover .text-engine{
    display: none;
}


.rocket-shop{
    display: flex;
}
.rocket{
    font-family: Calibri; color: rgb(252, 252, 252);
    width: 170px;
    
    margin: 5px;
    padding: 10px;

    border-radius: 20px;
    background: transparent;
    box-shadow: 0 5px 40px 10px #0d2d46;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.content .rocket .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(150px - 16px);
}

.rocket img {
    max-width: 150px;
    max-height: calc(150px - 16px);
}







