.log{
	height: 100vh;
	width: 100%;
	background: black;
	opacity: 0.7;
	position: absolute;
	z-index: 10;
	position: fixed;
}

.hide{
	display: none!important;
}

.info{
	display: flex;
	font-family: "Georgia";
	font-size: 23px;
	color: white;
}

.cover{
	position: fixed;
	background: black;
	opacity: 0.5;
	height: 70px;
	width: 100%;
}

.log-in{
	right: 30px;
}

.home{
	left: 110px;
}

.link{
	display: flex;
	cursor: pointer;
	z-index: 1;
	color: white;
	margin-top: 15px;
}

.link:hover{
	color: #DCDCDC;
}

.login-block{
	display: flex;
	z-index: 11;
	position: absolute;
	position: fixed;
	background: url(../../image/comfortImage/fon111.jpg) no-repeat center;
	height: 600px;
	width: 900px;
	top: 16vh;
	left: 55vh;
}

.login-direction{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 68%;
}

input[type="text"]{
	outline: none;
	height: 27px;
	background: #DCDCDC;
}

.comfort-link{
    text-decoration: none;
    color: white;
}

.or {
	font-family: "Georgia";
	margin: 15px;
	font-size: 16px;
	color: white;
}

.loginformstyle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputFields {
	margin: 15px 0;
	font-size: 16px;
	padding: 10px;
	width: 250px;
	border: 1px solid rgb(189, 118, 29);
	border-top: none;
	border-left: none;
	border-right: none;
	color: white;
	outline: none;
}

input[type="text"] {
	height: 27px;
	background: rgba(20, 20, 20, .2);
}

.pglogbut {
	border: 1px solid rgb(189, 118, 29);
	background: rgba(20, 20, 20, .6);
	font-size: 18px;
	color: white;
	margin-top: 20px;
	padding: 10px 50px;
	cursor: pointer;
}