.popup-cover {
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    z-index: 10;
    position: fixed;
}

.hide {
    display: none !important;
}

.info {
    display: flex;
    font-family: "Georgia";
    font-size: 23px;
    background: #1f1f1f;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.cover {
    position: fixed;
    background: black;
    opacity: 0.5;
    height: 70px;
    width: 100%;
}

.log-in {
    right: 30px;
}

.home {
    left: 110px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 20pt;
}

.info .link {
    display: flex;
    cursor: pointer;
    z-index: 1;
    color: white;
}

    .info .link:hover {
        color: #DCDCDC;
    }

.nice-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.login-block {
    display: flex;
    z-index: 11;
    background: url(../../image/comfortImage/fon111.jpg) no-repeat center;
    height: 600px;
    width: 900px;
}

.login-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68%;
}

.user-login {
    width: 300px;
    height: 20px;
    border: 0;
}

.password {
    width: 300px;
    height: 20px;
    border: 0;
    margin: 5px;
}


.comfort-link {
    text-decoration: none;
    color: white;
    margin-right: 17px;
}

.or {
    font-family: "Georgia";
    margin: 15px;
    font-size: 16px;
    color: white;
}

.loginformstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(189, 118, 29);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
}

input[type="text"],
input[type="password"] {
    height: 27px;
    background: rgba(20, 20, 20, .2);
    outline: none;
}

.pglogbut {
    border: 1px solid rgb(189, 118, 29);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
}

.profile-exit {
    color: white;
    text-decoration: none;
    margin: 17px;
}

    .profile-exit:hover {
        color: #DCDCDC;
    }

.top .avatar,
.user-block .avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
    margin-left: 20px;
}

.user-block {
    display: flex;
    margin: 5px;
    border: 2px red solid;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

    .user-info a:visited {
        color: white;
    }
