@model int 

@{
    ViewData["Title"] = "Home Page";
}

<div class="block">
    Rocket
</div>
<div class="block">
    Bank
</div>
<div class="block">
    Human
</div>
<div class="block">
    FAQ
</div>