@using SpaceWeb.Localization
@model int

@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <link rel="stylesheet" href="~/css/rocket.css?v=2">
}

@section Scripts{
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/index.js"></script>

    <script src="~/js/animation-example.js"></script>
}


<a href="/Rocket/MainPage" class="rocket-link">
    <div class="block rocketfield">
        <div class="rocketword">
            @Resource.HomeIndex_Rocket
        </div>
    </div>
</a>

<a class="bank-link" href="/Bank">
    <div class="block-bank">
        <div class="cover-text-block-bank">.</div>
        <div class="text-block-bank">
            @Resource.HomeIndex_RocketBank

        </div>
    </div>
</a>

<a href="/Human/Index">
    <div class="block block-human">
    </div>
</a>

<div class="block">

    <div class="animate-block">

    </div>
    <div style="text-align:center">
        <span class="dot active" id="1"></span>
        <span class="dot" id="2"></span>
        <span class="dot" id="3"></span>
        <span class="dot" id="4"></span>
        <span class="dot" id="5"></span>
        <span class="dot" id="6"></span>
    </div>
    
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="block">
        <canvas id="myChart"></canvas>
    </div>
}
