@model int

@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <link rel="stylesheet" href="~/css/rocket.css?v=1">
}

<a href="/Rocket/MainPage" class="rocket-link">
    <div class="block rocketfield">
        <div class="rocketword">
            Rocket
        </div>
    </div>
</a>

<a href="/Bank/Bank">
    <div class="block">
        Bank
    </div>
</a>
<a href="/Human/Person">
    <div class="block">
        Human
    </div>
</a>


<div class="block">
    FAQ
</div>