@model int

@{
    ViewData["Title"] = "Home Page";
}

<a href="/Rocket/MainPage">
    <div class="block">
        Rocket
    </div>
</a>

<a href="/Bank/Bank">
    <div class="block-bank">
        Bank
    </div>
</a>
<a href="/Human/Person">
    <div class="block">
        Human
    </div>
</a>


<div class="block">
    FAQ
</div>