@model int

@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <link rel="stylesheet" href="~/css/rocket.css?v=1">
}

<a href="/Rocket/MainPage" class="rocket-link">
    <div class="block rocketfield">
        <div class="rocketword">
            Rocket
        </div>
    </div>
</a>

<a class="bank-link" href="/Bank/Bank">
    <div class="block-bank">
        <div class="cover-text-block-bank">.</div>
        <div class="text-block-bank">
            RocketBank
        </div>
    </div>
</a>

<a class="team-link" href="/Human/AllUsers">
    <div class="block">
        Human
    </div>
</a>

<a class="team-link" >
    <div class="block">
        FAQ
    </div>
</a>