@using SpaceWeb.Localization
@model int

@{
    ViewData["Title"] = "Home Page";
}

@section Style
{
    <link rel="stylesheet" href="~/css/rocket.css?v=1">
}

<a href="/Rocket/MainPage" class="rocket-link">
    <div class="block rocketfield">
        <div class="rocketword">
            @Resource.HomeIndex_Rocket
        </div>
    </div>
</a>

<a class="bank-link" href="/Bank">
    <div class="block-bank">
        <div class="cover-text-block-bank">.</div>
        <div class="text-block-bank">
            @Resource.HomeIndex_RocketBank
            
        </div>
    </div>
</a>
<a href="/Human/Index">
    <div class="block block-human">        
    </div>
</a>


<div class="block">
    @Resource.HomeIndex_FAQ
</div>