@model int

@{
    ViewData["Title"] = "Home Page";
}

<a href="/Rocket/MainPage">
    <div class="block">
        Rocket
    </div>
</a>

<a href="/Bank/Bank">
    <div class="block-bank">
        <div class="cover-text-block-bank">.</div>
        <div class="text-block-bank">
            RocketBank
        </div>
    </div>
</a>
<a href="/Human/Index">
    <div class="block block-human">        
    </div>
</a>


<div class="block">
    FAQ
</div>