@using SpaceWeb.Models.Maze
@using MazeCore.Cells

@model MazeViewModel
<div class="maze">
    <div>
        Legend
        <div>
            <span class="icon wall">Wall</span>
        </div>
        <div>
            <span class="icon road">Road</span>
        </div>
        <div>
            <span class="icon gold">Gold</span>
        </div>
    </div>
    <div>
        @for (int y = 0; y < Model.Height; y++)
        {
            <div class="line">
                @for (int x = 0; x < Model.Width; x++)
                {
                    var className = Model.Cells[y, x].ToString().ToLower();
                    <span class="icon @className"></span>
                }
            </div>
        }
    </div>
</div>
