.icon{
	display: flex;
	align-items: flex-end;
	position: absolute;
	position: fixed;
}

.icon::before{
	width: 30px;
	height: 30px;
	display: inline-block;
	content: ' ';
}

.home::before{
	background: url('../pic/baseline_home.png') center/cover;
}

.home:hover::before{
	background: url('../pic/twotone_home.png') center/cover;
}

.back::before{
	background: url('../pic/arrow1.png') center/cover;
}

.back:hover::before{
	background: url('../pic/arrow2.png') center/cover;
}


.log-in::before{
	background: url('../pic/login1.png') center/cover;
}

.log-in:hover::before{
	background: url('../pic/login2.png') center/cover;
}