@model ProfileViewModel

<div>
    <h1>Профиль</h1>
    <div>
        <img class="avatar" src="@Model.AvatarUrl" />
    </div>
    <div>
        <form action="/User/Profile" method="post" enctype="multipart/form-data">
            Новый аватар 
            <input type="file" name="@nameof(AvatarViewModel.Avatar)" />
            <div>
                <input type="submit" value="Обновить аватар" />
            </div>
        </form>
    </div>

    <h2>Мои счета</h2>
    @foreach (var bankAccountView in Model.MyAccounts)
    {
        <div>
            @bankAccountView.Amount @bankAccountView.Currency
        </div>
    }

    <a href="/User/ChangePassword?id=1">Обновить password</a>
</div>
