@model SpaceWeb.Models.RegistrationViewModel
@{
    Layout = "_LayoutRocket";
}
@section Style
{
    <link rel="stylesheet" href="~/css/Rocket/Login.css?v=4">
}


<div class="loginpage">
    <div class="pglogblock">
        <div class="pginfo">
            <div class="pglogin">Registration</div>
        </div>
        <form action="/User/Registration" method="post" class="loginformstyle1">
            <ul class="noBullet">
                <li>
                    <label for="username"></label>
                    <input name="@nameof(RegistrationViewModel.Login)" class="inputFields" type="text" placeholder="Login" />
                </li>
                <li>
                    <label for="password"></label>
                    <input name="@nameof(RegistrationViewModel.Password)" class="inputFields" type="password" placeholder="Password" />
                </li>
                <li>
                    <input class="pglogbut" type="submit" value="Registration" />
                </li>
            </ul>
        </form>
    </div>
</div>
