@model SocialsPasswordViewModel


@{
    Layout = "_Layout";
}
<div class="socials-content">
    <div class="error-socials-image">
        <img src="~/image/error404.png" />
    </div>
    <div class="error-socials">
        Wrong passcode. I don't admit you redirect to socials. Try again...
    </div>
</div>