@model SocialsPasswordViewModel


@{
    Layout = "_Layout";
}
<div class="socials-content">
    <div class="empty-socials-image"></div>
    <div class="error-socials">
        You don't input passcode. Please, try again...
    </div>
</div>