@{
    Layout = "_Layout";
}

@using SpaceWeb.Models.Human
@using SpaceWeb.Service

@inject UserService userService

@model List<ShortUserViewModel>

<div class="all-users">
    <form action="/Human/Remove" method="post">

        All users
        @foreach (var shortUserViewModel in Model)
        {
            var userBlockViewModel = new UserBlockViewModel()
            {
                Name = shortUserViewModel.Login,
                AvatarUrl = userService.GetAvatarUrl(shortUserViewModel.AvatarUrl)
            };
        <label class="user-for-remove">
            <input type="checkbox" name="userIds" value="@shortUserViewModel.Id" />
            @Html.Partial("_userBlock", userBlockViewModel)
        </label>
        }
        <input type="submit" value="remove" />
    </form>
</div>