@{
    Layout = "_LayoutHuman";
}

<div>
    <div>
        <a href="Registration">reg client</a>
    </div>
    <div>
        <a href="Login">Login</a>
    </div>
    <div>
        <a href="Department">reg department</a>
    </div>
    <div>
        <a href="Profile">Profile</a>
    </div>
</div>