@using SpaceWeb.Models.Human
@model PaymentViewModel

<form action="/Human/SavePayment" method="post">
    <div id="hidden-payment-id">
        @Html.HiddenFor(x => x.IdEmploye)
    </div>
    <div id="input-payment-date" class="form-group">
        @Html.TextBoxFor(x => x.Date, new { @type = "date" })
    </div>
    <div id="input-payment-amount" class="form-group">
        @Html.TextBoxFor(x => x.Amount)
    </div>
    <div id="input-payment-not-payed" class="form-group">
        @Html.TextBoxFor(x => x.NotPayed, new { @readonly = "readonly" })
    </div>
    <input type="submit" />
</form>