@using SpaceWeb.Models.Human
@model PaymentViewModel

<div class="payment-modal-content">
    <form>
        <div id="hidden-payment-id">
            @Html.HiddenFor(x => x.EmployeId)
        </div>
        <div id="input-payment-date" class="form-group">
            @Html.TextBoxFor(x => x.Date, new { @type = "date" })
        </div>
        <div id="input-payment-amount" class="form-group">
            @Html.TextBoxFor(x => x.Amount)
        </div>
        <div id="input-payment-not-payed" class="form-group">
            @Html.DisplayFor(x => x.NotPayed)
        </div>
        <input id="submit-payment" type="button" value="Go" />
    </form>
    <div class="payment-message">
    </div>
</div>