@using SpaceWeb.Models.Human
@using SpaceWeb.Extensions
@{ 
    Layout = "_LayoutHuman";
}

@model PersonnelViewModel

<div>
    <form action="/Human/PersonnelSubmit" method="post">
        @foreach (var x in Model.RequestsToEmploy)
        {
            <label>
                <input type="checkbox" name="eployeId" value="@x.Id" />
                @Html.Partial("_employ", x)
            </label>
        }
        <input type="submit" name="accept" value="accept" />
    </form>
</div>