@{
    Layout = "_LayoutHuman";
}

@model UserProfileViewModel

<div>
    <div>
        Имя: @Model.Name
    </div>
    <div>
        Фамилия: @Model.SurName
    </div>
    <div>
        Возраст: @Model.Age
    </div>

</div>