.flip-flop {   
    overflow: hidden;
    transform: scaleX(1);
}

    .flip-flop .foreground {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        display: block;
    }

    .flip-flop .background {
        position: relative;
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
        display: none;
    }

    .flip-flop img {
        max-width: 100%;
    }

    .flip-flop .hide {
        display: none !important;
    }

    .flip-flop .show {
        display: block !important;
    }
