#body {    
   
}

.background {
    background-image: url('../../image/human/background.jpg');
    display: flex;
    flex-direction: column;
    position: fixed;
    height: auto;
    width: 100vw;
    z-index: 5;
}

.header {
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .content * {
        z-index: 10;
    }

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.content input[type=text] {
    border: solid;
    border-radius: 7px;
    border-color: #4682B4;
}

.panel {
    margin: 10px;
    background: #00BFFF;
    border-radius: 15px;
}

.login-block {
    display: flex;
    justify-content: center;
    background: #1E90FF;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    flex: 2;
}

.panel .button {
    border-radius: 5px;
    padding: 2px;
    border: solid;
    border-color: #00008B;
    cursor: pointer;
}

    .panel .button:hover {
        background: #B0E0E6;
    }

.block {
    display: flex;
    flex-direction: row;
}

    .block > .empty {
        flex: 1;
    }

.content > .empty {
    height: 100px;
}