@{
    Layout = "_LayoutBank";
}

@model List<BankAccountViewModel>

@section Scripts{
    <script src="~/js/bank/bankAccountCreation.js?v=1"></script>
}

@section Style{ 
    <link rel="stylesheet" href="~/css/bank/styleAccount.css?v=3" />
}

<body>
    <div class="client-before-content"></div>

    <div class="account-index-central-block">
        <div class="menu left">
            <div class="left-menu-text">СЧЕТА</div>
            @Html.Partial("_bankAccountsList", Model)
        </div>
        <div class="account-creation container content-box">
            <div class="creation-container-text">СОЗДАНИЕ СЧЕТА</div>
            @Html.Partial("_bankAccountCreationForm")
        </div>
    </div>
</body>