# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.EgorHTML.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Other\RocketIsSpace\TMS.Net07.Lesson1\EgorHTML\.idea\.idea.EgorHTML.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
